@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* light themes */
  --color-text-light: #333332;
  --color-background-light: #faf4e5;

  --color-pink-light: #e5a1aa;
  --color-green-light: #7ad0ac;
  --color-blue-light: #8395cd;
  /*dark themes */
  --color-text-dark: #faf4e5;
  --color-background-dark: #8395cd;
}

.light-theme {
  --color-blocks: var(--color-text-light);

  --color-text: var(--color-text);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
}

.dark-theme {
  --color-blocks: var(--color-background-light);

  --color-text: var(--color-text-dark);
  --color-pink: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
  --color-background: var(--color-background-dark);
}

html,
body {
  font-family: Montserrat, "sans-serif";
  color: var(--color-text);
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

h1,
section,
svg,
span,
p {
  transition: background-color 0.5s ease, color 0.5s;
}

.experience-canvas {
  width: 100%;
  height: 100;
}

.arrow-svg-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  animation: bounce 0.8s ease-in alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

/* Page ---------------------------------------------------- */

.page {
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
  bottom: 5%;
}

.hero-second {
  position: absolute;
  top: calc(50% - 100px);
  right: 5%;
}
.hero-main-title {
  font-size: 64px;
}

.hero-main-description {
  font-size: 18px;
}
.hero-second-subheading {
  font-size: 32px;
  text-transform: uppercase;
}

.hero-main-description {
  font-size: 18px;
}

/* Toggle Bar -------------------------------------------------- */

.toggle-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  top: 48px;
  right: 48px;
  z-index: 999999999;
}

.sun-wrapper,
.moon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blocks);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.9);
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.slide {
  left: 28px;
}
/* Section Formatting ---------------------------------------------------- */

.section-margin {
  width: 100%;
  height: 3000px;
}

.section {
  position: relative;
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-blocks) !important;
  padding-bottom: 400px;
}

.section-detail-wrapper {
  position: relative;

  padding: 20% 5%;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--color-blocks) !important;
}

/* Fancy Decoration */

.section-title {
  position: relative;
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid;
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne {
  top: 0px;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform: skewY(25deg);
}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-blocks) !important;
  font-size: 20px;
}

.blue-text {
  color: var(--color-blue);
}

.blue-border {
  border-color: var(--color-blue);
}

.blue-background {
  background-color: var(--color-blue);
}

.green-text {
  color: var(--color-green);
}

.green-border {
  border-color: var(--color-green) !;
}

.green-background {
  background-color: var(--color-green);
}

/* PRgoress bars --------------------*/

.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 99999999999999999;
}

.progress-bar-wrapper-right {
  position: absolute;
  right: 0;
  top: 0;
}

.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar {
  height: 100vh;
  width: 100%;
  background-color: var(--color-green);
  transform-origin: top center;
  translate: scaleY(1);
}
/*Media Queries */

@media only screen and (max-width: 968px) {
  .section {
    width: 100%;
  }
}
